[Unit]
Description=ArcGIS Data Store
Documentation=https://enterprise.arcgis.com
After=network-online.target arcgisserver.service
Wants=network-online.target
Requires=arcgisserver.service

[Service]
Type=forking
User=${ARCGIS_RUN_AS_USER}
Group=${ARCGIS_RUN_AS_USER}
Environment="HOME=/home/${ARCGIS_RUN_AS_USER}"
ExecStart=${ARCGIS_INSTALL_DIR}/datastore/startdatastore.sh
ExecStop=${ARCGIS_INSTALL_DIR}/datastore/stopdatastore.sh
TimeoutStartSec=300
TimeoutStopSec=180
Restart=on-failure
RestartSec=30
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
